.grid {
    max-width: 1300px;
    margin: 0 auto;
}

.grid-item {
    float: left;
    width: 300px;
    height: 80px;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
    margin: 10px;

    span {
        background-image: linear-gradient(to right, #cbe43c, #e01b25);
        font-size: 24px;
        -webkit-background-clip: text;
        color: transparent;
    }
}


.grid-item--width2 {
    width: 300px;
}

.grid-item--height2 {
    height: 300px;
}

.grid-item--height3 {
    height: 375px;
}
